.container
  width: 85%
  max-width: 1256px
  margin: auto
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
  width: 90%
  &-30
    flex-basis: 31.4%
  &-50
    width: 50%
  &-10
    flex-basis: 26.4%