@media screen and ( max-width: 1275px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 767px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .design
    background-color: $dark
    &__section-title
      color: $light
    &__card
        margin-bottom: 5.7rem
@media screen and ( max-width: 570px )
  .section
    &-title
      &__description
        margin-top: 1.64rem
        font-size: 1.29rem
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__title
      margin-bottom: 1.14rem  
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
@media screen and ( max-height: 520px  )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 460px  )
  .card
    &__text
      max-width: 17.21rem
    &__title
      font-size: 1rem
    &__list
      font-size: 0.98rem
  
  

  