*, *:before, *:after
    box-sizing: border-box
html
    font-size: 14px
body
    font-family: 'Futura Book', sans-serif
    font-size: 1rem
img
    max-width: 100%
.section
    padding: 60px 0
    &-steps
        &-title
            margin-top: 18px
    &--dark
        background-color: $dark
        color: $light
    &-subtitle
        font-family: 'Futura Demi'
        font-style: normal
        font-weight: 500
        font-size: 15px
        line-height: 21px
        text-transform: uppercase
    &-title
        text-align: center
        &--left
            text-align: left
        &--light
            color: $light
        &__heading
            font-family: 'Yeseva One', cursive
            font-style: normal
            font-weight: normal
            font-size: 20px
            line-height: 28px
            text-transform: uppercase
            margin: 0
            &__projects
                font-style: normal
                font-weight: normal
                font-size: 27px
                line-height: 37px
                letter-spacing: -0.07em
            &--primary
                color: $primary
            &__word__projects
                display: flex
                align-items: center
                &::after
                    content: ''
                    width: 92px
                    height: 1px
                    background-color: $primary
                    margin-left: 2.4rem
            &__word__steps
                display: flex
                align-items: center
                &::after
                    content: ''
                    width: 92px
                    height: 1px
                    background-color: $primary
                    margin-left: 6.2rem
        &__text
            font-size: 1.28rem
            line-height: 2.07rem
            max-width: 31.57rem
            margin-top: 1.5rem
            margin-bottom: 2rem
        &__image
            display: flex
            justify-content: center
            align-items: center
            margin-top: 1rem
            &::before, &::after
                content: ''
                width: 32px
                height: 2px
                background-color: $primary
                margin: 0 10px
        &__description
            margin: auto
            margin-top: 1.714rem
            margin-bottom: 2.79rem
            font-size: 1.42rem
            line-height: 1.93rem
            max-width: 52.93rem
