.control 
    &__section-title
        margin-bottom: 31px
        margin-top: -30rem
    &__video
        display: flex
        margin: auto    
        position: relative
        max-width: 817px
        min-height: 434px
        background: $dark url('../img/vidphoto.png') center no-repeat
        box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15)
        margin-bottom: 62px
        &::before
            content: ''
            position: absolute
            width: 100%
            height: 100%
            background-color: rgba(black , 0.8)
    &__text
        max-width: 571px
        margin: auto
        font-family: FuturaBookC
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 34px
        text-align: center
        color: #363636     
        margin-bottom: 60px
        &::before
            margin: auto
            margin-bottom: 35px
            content: ''
            width: 55px
            height: 1.5px 
            background-color: $primary
            display: block
            border-radius: 30px
    &__form
        display: flex
        flex-wrap: wrap
        max-width: 770px
        margin: auto
        justify-content: space-between
    &__input_group
        display: flex
        flex-direction: column 
    &__input
        border-bottom: 1px solid rgba(0, 0, 0, 0.3)   
        width: 231px
        height: 45px  
    &__label       
        margin-bottom: -2px
    &__policy
        flex-basis: 100%     
        margin-top: 33px
        &-label
            justify-content: center
    &__button
        width: 200px
        height: 51px             


        


.video
    &__play
        position: relative       
        margin: auto    

.label--grey        
    color:  rgba(54, 54, 54, 0.3)