.design
  &__section-title
    margin-bottom: 2.78rem
    letter-spacing: -0.7px
  .row
    .card
      &__pricetag
        padding: 1.214rem 5.67rem 1.214rem 2.46rem
.section-title
  &__description
    font-size: 1.42rem
    line-height: 1.93rem
    
  

