.section-title__description
    font-family: Futura Book
    font-size: 1.42rem
    line-height: 1.92rem
    text-align: center
    max-width: 52.92rem
    font-style: normal
    font-weight: normal
    margin-top: 1.27rem
    margin-bottom: 3.1rem
    
    
.design
    background-color: $dark
    &__section-title
        color: $light
        margin-bottom: 2.78rem
    &__card
        margin-bottom: 5.7rem    
.card
    &__image
        display: block
        width: 100%
    &__text
        position: relative
        margin-top: -9rem
        padding: 1.79rem 2.14rem
        max-width: 85%
        background-color: $light
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03) 
    &__title
        font-style: normal
        font-weight: normal
        line-height: 1.78rem
        font-family: 'Yeseva One'
        font-size: 1.28rem
        margin-top: 0
        margin-bottom: 0.7rem
    &__list
        padding: 0 0 0 1rem
        margin: 0 
        font-size: 1.07rem
        color: $secondary
        line-height: 1.79rem
        margin-bottom: 2.07rem 
    &__pricetag
        font-weight: normal
        font-style: normal
        text-align: center
        font-family: 'Yeseva One'
        font-size: 1.28rem
        color: $light 
        text-transform: uppercase
        background-color: $primary 
        padding: 1.21rem 5.5rem 1.21rem 2.35rem 
        position: absolute 
        left: 0 
        bottom: -2.07rem   
.row
    display: flex 
    flex-direction: column

@media screen and (min-width: 760px)                   
    .row
        flex-direction: row
        justify-content: space-between
    .card
        flex-basis: 31.8%  
    .design
        background-color: $light  
        &__section-title
            color: $dark  

          

// @media screen and (min-width: 990px)  
//     .row
//         flex-direction: column
//         justify-content: center
//         align-items: center 
//     .design
//         background-color: $dark
               
