.header
    position: fixed 
    left: 0
    top: 0
    width: 100%
    z-index: 2
    background-color: $dark
    padding: 24px 0


.menu 
    display: flex    
    justify-content: space-between
    align-items: center

.logo
    color: $primary
    text-transform: uppercase


.nav
    &__item
        text-decoration: none
        color: $light
        text-transform: uppercase
        margin-right: 40px    

.phone 
    color: $primary

.contacts
    &__phone
        margin-right: 45px            