.hero
    position: relative
    display: flex
    flex-direction: column 
    justify-content: center
    align-items: flex-start 
    background: $dark url("../../img/hero.jpg") no-repeat center/cover
    height: 100vh
    color: $light
    padding-top: 100px
    &__content
        max-width: 670px
    &__text
        font-size: 22px
        max-width: 504px
    &__button
        margin-right: 20px         
    &__instagram
        position: absolute
        left: 0
        top: 0
        max-width: 80px
        height: 100%
    &__scrol-down
        position: absolute
        display: flex
        justify-content: center
        align-items: center  
        left: 0
        bottom: 0
        min-width: 247px
        min-height: 97px
        background-color: $dark
        text-transform: uppercase
        text-decoration: none
        color: $light

.instagram 
    display: flex
    justify-content: center
    align-items: center
    background-color: $dark
    &__link
        text-transform: uppercase
        color: $primary
        text-decoration: none
        transform: rotate(90deg)  


.title
    margin: 0 
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    font-size: 40px
    &--primary
        color: $primary



